<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        height: 100vh;
      }

      h1 {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: rgb(252, 97, 0);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        color: black;
        border-radius: 5px;
        position: absolute;
        top: 60%;
        font-size: 17px;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      a:hover {
        background-color: #e0e0e0;
      }
    </style>
  </head>
  <body>
    <h1>
      Sent, check your email box. If you don't see it, check the spam folder.
    </h1>
    <a href="/">Go back</a>
  </body>
</html>
